<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exercicio2-3/src/br/com/rjchaves/aula14/Exercicio2e3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.rjchaves.aula14.Exercicio2e3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercicio2-3"/>
</launchConfiguration>
